* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 100px;
}

.header {
    background-color: rgb(179, 179, 179);
    color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 20px;
    display: flex;
}

menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

menu li 
{
    display: inline-block;
    margin-left: 18px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: black;
    border-radius: 5px;
    padding: 10px 22px;
}

.menu {
    background-color: blue;
    color: white;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    padding: 20px;
    display: flex;
}

.aside_left {
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    padding: 20px;
    display: flex;
}

.main_content p 
{
    line-height: 1.5;
    text-indent: 16px;
    letter-spacing: 1.4px;
}

.main_content {
    background-color: aqua;
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    padding: 30px;
}

.aside_right {
    background-color: yellow;
    grid-column: 5 / 6;
    grid-row: 3 / 5;
    padding: 20px;
    display: flex;
}

.footer {
    background-color: black;
    color: white;
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}