body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

input {
    display: block;
    margin-bottom: 20px;
}

input[type="button"] {
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

