*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header
{
    text-transform: uppercase;
    font-size: 3.6rem;
    text-align: center;
    width: 100%;
    padding: 3rem;
    background-image: linear-gradient(rgb(65, 65, 65), black);
    color: white;
    box-shadow: 0 5px 20px black;
}

.main
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 3rem;
    margin-bottom: 10rem;
}

.content
{
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    padding: 2rem;
    border-radius: 3px;
    background-color: rgb(216, 204, 204);
}

.content h2
{
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 2rem;
   
}

.content p 
{
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.footer
{
    background-color: black;
    padding: 3rem;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p 
{
    font-size: 1.8rem;
}